<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фотобиблиотека</title>
</head>
<body style="text-align: center">

<a th:href="'/albums/' + ${album.id}" class="album" th:each="album : ${albums}">
    <h2 th:text="${album.name}"></h2>
</a>

<a href="/albums/create">
    <button style="padding: 10px">Добавить новый альбом</button>
</a>


</body>
</html>

<style>
    body {
        padding: 5px;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    a:hover h2 {
        color: #000000;
    }
    .album {
        display: block;
        background: #d5d5d5;
        text-align: center;
        border: gray 1px solid;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .album:hover {
        scale: 1.02;
    }
</style>