<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать новый альбом</title>
</head>
<body style="text-align: center;margin-top: 50px;">

<form action="/albums/create" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Название альбома" required><br>

    <input type="file" name="photos" multiple><br>

    <button style="padding: 10px; margin-top: 10px;" type="submit">Создать альбом</button>
</form>

</body>
</html>

<style>
    input {
        margin-bottom: 25px;
    }
    input[type = "text"] {
        width: 250px;
        padding: 10px;
        text-align: center;
    }
</style>